@import "tailwindcss";

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 999;
}

.modal {
    background: #fff;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
}
